.headerHome {
  background-color: rgba(32, 87, 187, 0.59);
  padding: 20px 10px;
  height: 100px;
}
.drawerToggle {
  float: left;
  width: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.drawerToggle div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
}
.sideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

.closeToggle {
  right: 0;
  position: absolute;
  margin-right: 16px;
  cursor: pointer;
}
.navigationItems {
  margin: 0;
  padding: 0 15px;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  cursor: pointer;

}
.link {
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.link a {
  width: 100%;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  transition: background-color .3s;
  font-size: 1rem;
  padding: 0 15px
}
.link a:hover,
.link a:active,
.link a.active {
  color: rgba(32, 87, 187, 0.59);
}
